@font-face {
	font-family: 'Questrial', sans-serif;
	font-style: normal;
	src: url(http://fonts.googleapis.com/css?family=Questrial);
}

@font-face {
	font-family: 'Hind', sans-serif;
	font-style: normal;
	src: url(http://fonts.googleapis.com/css?family=Hind:400,600);
}

body {
	font-family: 'Questrial', sans-serif;
	text-align: center;
	font-size: 1.1em;
	width: 100%;
	background: GhostWhite;
}

.jumbotron {
	background: #339966;
	min-width: 10em;
	text-align: left;
	padding-left: 2em;
	padding-top: 2em;
	padding-bottom: 2em;
}

.h1 {
    font-family: 'Questrial', sans-serif;
	margin: 0em;
	padding: 0em;
	font-weight: bold;
}

.h3 {
	font-family: 'Hind', sans-serif;
	font-size: 1.5em;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	font-weight: bold;
	margin-top: 0em;
}

.title {
	background: GhostWhite;
	margin-bottom: 0.5em;
	width: 10em;
	border: 0em;
}

.todo {
	width: 12em;
	margin-top: 0em;
	margin-bottom: 1em;
	text-align: left;
	padding-right: 0em;
}

.todo:hover {
	cursor: pointer;
}

.listTitle {
	margin-top: 0em;
	margin-bottom: 1em;
	text-align: left;
	padding-right: 0em;	
}

.listTitle:hover {
	cursor: pointer;
}

.newList {
	width: 50%;
	min-width: 30%;
	margin-left: 15em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	border: 0.1em solid rgba(94, 94, 88, .2);
	text-align: left;
}

ul {
	color: #5E5E58;
	background: GhostWhite;
	font-size: 1.7em;
	text-align: left;
	width: 70%;
	padding: 2em;
	list-style-type: none;
}

li {
	text-align: left;
	background: GhostWhite;
}

#glyphiconPlus {
	float: left;
	height: 3.5em;
	line-height: 3.5em;
	margin-left: 13em;
	font-size: 4em;
	color: #339966;
}

.btn-group {
	float: right;
}

.item {
	margin-bottom: 1em;
	background: GhostWhite;
	width: 10em;
	border: 0em;
}

.listItem {
	margin-bottom: 0.5em;
}

.title {
	margin-bottom: 1em;
}

.placeholder {
	margin-bottom: 1em;
	cursor: pointer;
}

.glyphicon{
	/*color: #FF4747;*/
	float: right;
	font-size: 1.2em;
}

.glyphicon:hover {
	color: #FF4747;
	cursor: pointer;
}